extends layout

block content
  h2= "Welcome to the File Metadata Microservice."
  h2= "Upload a file and see its size."

  form(method="post", enctype="multipart/form-data", action="/")
    p
      input(type="file", name="upl")
    p
      input(type="submit")
